body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

img {
    width: auto;
    height: 50px;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    border: 1px solid green;
    height: 20px;
    padding: 16px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
